root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
tab_width = 4
trim_trailing_whitespace = true

[Makefile]
indent_style = tab
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.gsl]
# Space indentation is mandatory for gsl scripts.
indent_style = space
tab_width = 4

[*.rb]
indent_style = space
tab_width = 2
indent_size = 2
